<app-header 
            titulo="Avatar"
            image="/assets/User_Angel.jpeg">
</app-header>

<ion-content>
    <ion-chip 
                color="primary" 
                outline="true"
                *ngFor="let item of [1,1,1,1,1]">
        <ion-avatar>
            <img src="/assets/User_Angel.jpeg"/>
        </ion-avatar>
        <ion-label>Default</ion-label>
    </ion-chip>

    <ion-list>
        <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
            <ion-avatar slot="start">
                <img src="/assets/User_Angel.jpeg"/>
            </ion-avatar>
            <ion-label> Ángel Rivilla </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
