<app-header 
            titulo="Cards" 
            image="/assets/User_Angel.jpeg">
</app-header>

<ion-content>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Pokemon Kanto</ion-card-subtitle>
      <ion-card-title>Pokédex</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Es como una enciclopedia con la que cualquiera puede consultar 
      datos de todos los Pokémon existentes, como las debilidades y 
      resistencias de su tipo frente a otros, los ataques que puede 
      aprender, ya sea por nivel, MTs o crianza
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Información General del pokemon</ion-label>
    </ion-item>

    <ion-card-content>
      Tipo Agua/Volador, Sexo: Mujer/Hombre, Hábitat Agua Dulce, Color Azul
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://ih1.redbubble.net/image.216710384.4844/flat,750x1000,075,f.jpg">
    <ion-card-content>
      Mega Gyarados: Es un Pokémon de tipo agua/volador introducido en la primera generación. Es la evolución de Magikarp.
    </ion-card-content>
  </ion-card>

</ion-content>
